<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" href="/css/home.css" rel="stylesheet"/>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <title>commUNITY</title>
  
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ml-auto" style="border-radius: 0; ">
        <a class="navbar-brand" href="#">commUNITY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto" style="float:right;">
                
            <li class="nav-item">
                    <a class="nav-link" href="#"><img src="/images/home.png" alt="home"
                        style="width: 20px; height: 20px;"></a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#"><img src="/images/like.png" alt="Most Liked"
                        style="width: 20px; height: 20px;"></a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#"><img src="/images/latest.jpg" alt="Latest Post"
                        style="width: 20px; height: 20px;"></a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/login"><img src="/images/logout.jpg" alt="Logout"
                        style="width: 20px; height: 20px;"></a>
            </li>
          </ul>
        </div>
      </nav>
  <section id="s1">
     
    <div class="row">
        <div class="col-md-12">
            <div class="slideshow-container">
              <div class="mySlides fade">
                <h1
                  id=""style="font-family: 'Raleway', sans-serif; position:absolute; left:0; top:40%; width: 100%;text-align: center;font-size: 50px; color: white; font-weight: bold ">
                  commUNITY
                </h1>
                <p style="left:45%; position:absolute; top:60%; color: white;font-family: 'Raleway', sans-serif;font-size: 12px; ">
                  a dance community forum ...
                </p>
                <h5 style="border: 1px solid white; font-family: 'Raleway', sans-serif; position:absolute; left:45%; top:67%; width: 150px; padding:18px; text-align: center;font-size: 15px; color: white; font-weight: bold  ">
                  <a href="/register" style="text-decoration: none; color:white;"> 
                    Join now!
                  </a>
                </h5>
                <img src="/images/homepic1.jpg"  >
              </div>
      
              <div class="mySlides fade">
                <h1
                  style="font-family: 'Raleway', sans-serif; position:absolute; left:0; top:40%; width: 100%;text-align: center;font-size: 50px; color: white;font-weight: bold ">
                  commUNITY
                </h1>
                <p style="left:45%; position:absolute; top:60%; color: white;font-family: 'Raleway', sans-serif;font-size: 12px; ">
                    a dance community forum ...
                  </p>
                <h5 style="border: 1px solid white; font-family: 'Raleway', sans-serif; position:absolute; left:45%; top:67%; width: 150px; padding:18px; text-align: center;font-size: 15px; color: white; font-weight: bold  ">
                    <a href="/register" style="text-decoration: none; color:white;"> 
                      Join now!
                    </a>
                  </h5>
                <img src="/images/homepic2.jpg" >
              </div>
      
              <div class="mySlides fade">
                <h1
                  style="font-family: 'Raleway', sans-serif; position:absolute; left:0; top:40%; width: 100%;text-align: center;font-size: 50px; color: white;font-weight: bold ">
                  commUNITY
                </h1>
                <p style="left:45%; position:absolute; top:60%; color: white;font-family: 'Raleway', sans-serif;font-size: 12px; ">
                    a dance community forum ...
                  </p>
                <h5 style="border: 1px solid white; font-family: 'Raleway', sans-serif; position:absolute; left:45%; top:67%; width: 150px; padding:18px; text-align: center;font-size: 15px; color: white; font-weight: bold  ">
                    <a href="/register" style="text-decoration: none; color:white;"> 
                      Join now!
                    </a>
                  </h5>
                <img src="/images/homepic3.jpg" >
              </div>
      
              <div class="mySlides fade">
                <h1
                  style="font-family: 'Raleway', sans-serif; position:absolute; left:0; top:40%; width: 100%;text-align: center;font-size: 50px; color: white;font-weight: bold ">
                  commUNITY
                </h1>
                <p style="left:45%; position:absolute; top:60%; color: white;font-family: 'Raleway', sans-serif;font-size: 12px; ">
                    a dance community forum ...
                  </p>
                <h5 style="border: 1px solid white; font-family: 'Raleway', sans-serif; position:absolute; left:45%; top:67%; width: 150px; padding:18px; text-align: center;font-size: 15px; color: white; font-weight: bold  ">
                    <a href="/register" style="text-decoration: none; color:white;"> 
                      Join now!
                    </a>
                  </h5>
                <img src="/images/homepic4.jpg" >
             
            <br>
      
           
      
    </div>
    
  </section>

  <section id="s2" style="height:100%;">
    <h1 style="margin-top:3%; color: white; font-weight: bold; margin: 50px; border: 1px solid rgb(50, 224, 207); ;padding:20px; background: rgb(50, 224, 207);">
      commUNITY
    </h1>
    <p style="font-family: 'Raleway', sans-serif; font-size: 14px; margin-left:4.5%; margin-top: 0;">
      click a category and share with the community!
    </p>
    <div class="row">
      <div class="col-md-6">
        <h3 id="announce" style="text-align:center; margin: 50px;">
          <a href="#" style="text-decoration:none; color: black">
              Announcements
              <br>
              <br>
              <img src="/images/announce.jpg" style=" height:50px; width:50px;">
          </a>
        </h3>
      </div>
      <div class="col-md-6">
        <h3 id="tips" style="text-align:center; margin: 50px;">
          <a href="#" style="text-decoration:none; color: black;">
              Dance Tips
              <br>
              <br>
              <img src="/images/tips.png" style=" height:50px; width:50px;">
          </a>
        </h3>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <h3 id="choreo" style="text-align:center; margin: 50px;">
          <a href="#" style="text-decoration:none; color: black;">
              Choreography
              <br>
              <br>
              <img src="/images/dance.png" style=" height:50px; width:50px;">
          </a>
        </h3>
      </div>

      <div class="col-md-6">
        <h3 id="memes" style="text-align:center; margin:50px;">
          <a href="#" style="text-decoration:none; color: black;">
              DANCE MEMES
              <br>
              <br>
              <img src="/images/meme.png" style=" height:50px; width:50px;">
          </a>
        </h3>
      </div>
    </div>
  </section>

  <footer style="font-family:'Raleway', sans-serif; font-size: 12px;background:rgb(61, 61, 61); color: lightgray; padding:30px; margin-top: 25px; margin-left: -3%; text-align: center;">
    commUNITY ©2019

  </footer>

  <script>
    var myIndex = 0;
    carousel();

    function carousel() {

      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) { myIndex = 1 }
      x[myIndex - 1].style.display = "block";
      setTimeout(carousel, 3000);
    }
  </script>
   <script src="jq/jquery-2.1.1.min.js"></script>
   <script src="js/bootstrap.min.js"></script>

</body>

</html>