body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: white;
}

.loginbox {
    width: 320px;
    height: 390px;
    background: white;
    box-shadow: 3px 3px lightgray;
    color: rgb(66, 66, 66);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    opacity: .85;
    border-radius: 1px;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    border: 1px solid lightgray;

}

.avatar {
    border: 1px solid turquoise;
    background: turquoise;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px gray;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;




}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;

}

.loginbox input[type="text"],
input[type="password"] {
    border: 1px solid lightgray;
    margin-top: 13px;
    margin-bottom: 13px;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: turquoise;
    color: #fff;
    font-size: 18px;
    border-radius: 1px;
    margin-top: 30px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.loginbox a:hover {
    color: #ffc107;
}

.elementToFadeInAndOut {
    width:320px;
    color: white;
    text-align: center;
    background: red;
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 5s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}